#chechire-country{
    background-color: $black-1C;
    .container{
        @include container-width;
        display: flex;

        .logo{
            img{
                margin: 213px 168px 213px 60px;
            }
        }
        .text{
            color: $white-FF;
            h2{
                font-size: 30px;
                line-height: 43px;
                margin-top: 90px;
                max-width: 314px;
            }
            .img-line{
                margin: 27px 0;
            }
            .p-1{
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 43px;
            }

            .title{
                display: flex;
                margin-bottom: 36px;
                .div-round{
                    @include display-flex-center;
                    width: 50px;
                    height: 50px;
                    border-radius: 100%;
                    background-color: $light-red;
                    .icon{
                        height: 18px;
                    }
                }
                .div-text-2{
                    max-width: 394px;
                    margin-left: 20px;
                    
                    .p-title{
                        font-size: 14px;
                        line-height: 17px;
                        margin-bottom: 6px;
                    }
                    p{
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
            }
        }
    }
}