#contact-us{
    background-color: $light-red;
    color: $white-FF;
    .container{
        @include container-width;
        text-align: center;
        padding: 70px 0 50px 0;
        h2{
            @include h2;
        }
        p{
            @include p-size-heigth-small;
            padding: 50px 0 27px 0;
        }
        form{
            max-width: 390px;
            margin: 0 auto;
            padding: 33px 65px;
            @include form;
            .text-input{
                @include text-input;
            }
            .radio-label{
                @include radio-label;
            }
            .radio-input{
                margin: 26px 0 41px 0;
            }
            button{
                border: none;
                margin-top: 37px;
                padding: 16px 0;
                border-radius: 0px 0px 5px 5px;
                font-size: 18px;
                line-height: 24px;
                color: $white-FF;
                background-color: $green;
                cursor: pointer;
            }
        }
    }
}