#costumers-saying{
    
    .container{
        @include container-width;
        text-align: center;
        padding: 67px 0 153px 0;
        h2{
            @include h2;
            color: $black-1C;
        }
        .img-line{
            margin: 31px 0 58px 0;
        }

        article{
            display: flex;
            align-items: end;
            .messages{
                max-width: 273px;
                
                .p-message{
                    font-size: 16px;
                    line-height: 22px;
                    text-align: left;
                    color: $white-FF;
                    background-color: $blue;
                    margin-bottom: 19px;
                    padding: 20px;
                    border-radius: 8px;
                    position: relative;
                    &::before{
                            position: absolute;
                            content: "";
                            bottom: -24px;
                            border: 13px solid transparent;
                            border-top-color: $blue;
                            border-radius: 2px;
                    }
                }
                &:nth-of-type(2){
                    padding: 0 119px;
                }
                .person{
                    display: flex;
                    align-items: center;
                    img{
                        padding-right: 17px;
                    }
                    .name{
                        text-align: left;
                        h4{
                            @include p-size-heigth-small-2;
                            font-weight: 400;
                        }
                        p{
                            font-size: 14px;
                            line-height: 16.8px;
                            color: $grey-dark;
                        }
                    }
                }
            }
        }
    }
}

// .swiper {
//   width: 100%;
//   height: 300px;
// }

// @media (min-width: 1000px){
//     .swiper-button-prev,
//     .swiper-button-next {
//         display: none;
//     }
// }