footer{
    background-color: $black-1C;
    .container{
        @include container-width;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 52px 0 51px 0;

        .socials-icons{
            @include icons;
            list-style-type: none;
            li{
                img{
                    height: 20px;
                    opacity: 1 !important;
                }
            &:last-of-type{
                @include wifi-icon;
            }
            }
        }
        .copy-right{
            p{
                color: $white-FF;
                font-size: 18px;
                line-height: 14.4px;
                opacity: 0.5;
            }
        }
    }
}

// @media(max-width: 1150px){
//     footer{
//         .container{
//            max-width: 850px;
//             .socials-icons{
//                 width: 400px;
//                 cursor: pointer;
//             }
//         }
//     }
// }
// @media(max-width: 900px){
//     footer{
//         .container{
//             flex-direction: column;
//             padding: 50px;
//             .copy-right{
//                 p{
//                     font-size: 12px;
//                     margin-top: 20px;
//                 }
//             }
//         }
//     }
// }
// @media(max-width: 450px){
//     footer{
//         .container{
//             .socials-icons{
//                 width: 300px;
//             }
//         }
//     }
// }
