*{
    margin: 0%;
    padding: 0%;
}

body{
    font-family: Montserrat;
}


#pricing-options{
    .container{
        .plans{
            display: flex;
        }
    }
}

#what-our-costumers-ar-saying{
    .container{
        article{
            display: flex;
        }
    }
}

footer{
    .container{
            display: flex;
    }
}
