#socials{

    box-shadow: 0px 1px 3px $grey-lighter;
    
    .container-socials{
        @include container-width;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 19px 0;
        .text{
            width: 394px;
            h3{
                font-size: 20px;
                line-height: 24px;
                color: $black-33;
            }
            p{
                font-size: 14px;
                line-height: 20px;
                color: $grey-dark;
            }
        }
        .socials-icons{
            @include icons;
            a{
                img{
                    height: 30px;
                }
            &:last-of-type{
                @include wifi-icon;
            }
            }
        }
    }
}

@media(max-width: 1150px){
    #socials{
        .container-socials{
            // display: flex;
            max-width: 850px;
            .socials-icons{
                width: 400px;
                padding: 0 30px;
            }
        }
    }
    
}
// @media(max-width: 678px){
//     #socials{
//         // .container-socials{
//         //     display: flex;
//         //     flex-direction: column;
//             // .socials-icons{
//             //     width: 400px;
//             //     padding: 0 30px;
//             // }
//         // }
//     }
    
// }