#socials{

    box-shadow: 0px 1px 3px $grey-lighter;
    
    .container-socials{
        @include container-width;
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 19px 0;
        .secial-text{
            width: 394px;
            h3{
                font-size: 20px;
                line-height: 24px;
                color: $black-33;
            }
            p{
                font-size: 14px;
                line-height: 20px;
                color: $grey-dark;
            }
        }
        .socials-icons{
            @include icons;
            list-style-type: none;
            li{
                transition: 0.5s;
                img{
                    height: 30px;
                }
                
                &:last-of-type{
                    @include wifi-icon;
                    transition: 0.5s;
                    &:hover{
                        transform: rotate(45deg) scale(1.2);
                    }
                }
                &:hover{
                    transform: scale(1.2);
                }
            }
        }
    }
}