#socials{

    box-shadow: 0px 1px 3px $grey-lighter;
    
    .container-socials{
        @include container-width;
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 19px 0;
        .secial-text{
            width: 394px;
            h3{
                font-size: 20px;
                line-height: 24px;
                color: $black-33;
            }
            p{
                font-size: 14px;
                line-height: 20px;
                color: $grey-dark;
            }
        }
        .socials-icons{
            @include icons;
            list-style-type: none;
            li{
                    img{
                    height: 30px;
                }
                
            &:last-of-type{
                @include wifi-icon;
            }
            }
        }
    }
}

// @media(max-width: 1150px){
//     #socials{
//         .container-socials{
//            max-width: 850px;
//             .socials-icons{
//                 width: 400px;
//                 cursor: pointer;
//             }
//         }
//     }
    
// }
// @media (max-width: 900px){
//     #socials{
//         padding: 50px;
//         .container-socials{
//                 justify-content: center;
//                 text-align: center;
//                 }
//                 .socials-icons{
//                     padding-top: 40px;
//                 }
                
//     }
// }

// @media(max-width: 678px){
//     .secial-text{
//         h3{
//             margin-bottom: 10px;
//         }
//     }
//     .socials-icons{
//         width: 300px;   
//     }
    
// }
    