$black-00: #000000;
$black-1C: #1C1C1C;
$black-21: #212121;
$black-33: #333333;
$blue: #6696E2;
$green: #41D395;
$light-red: #E27866;
$grey-dark: #86878B;
$grey-lighter: #00000061;
$grey-lighter-2: #00000029;
$grey-light: #D8D8D8;
$grey-F5: #F5F5F5;
$white-FF: #FFFFFF;