#why-this-is-awesom{
    .container{
        @include container-width;
        text-align: center;
        padding-top: 99px;
        padding-bottom: 122px;
        h2{
            @include h2;
            color: $black-21;
        }
        .img-line{
            margin: 21px 0 27px 0;
        }
        .p-center{
            @include p-size-heigth-small;
            margin-bottom: 65px;
        }
        article{
            display: flex;
            .block{
                max-width: 290px;
                .icon{
                    @include display-flex-center;
                    width: 50px;
                    height: 50px;
                    border: 1px solid $light-red;
                    border-radius: 100%;
                    margin: 0 auto;
                    img{
                    height: 22.5px;
                    }
                }
                h4{
                    font-size: 20px;
                    line-height: 24px;
                    color: $black-33;
                    margin: 35px 0 27px 0;
                }
                p{
                    @include p-size-heigth-small;
                    color: $grey-dark;
                }
                &:nth-of-type(2){
                    margin: 0 97px;
                }
            }
        }
    }
}

// @media (max-width: 1150px){
//     #why-this-is-awesom{
//     .container{
//             max-width: 850px;
//         }
//     }
// }

// @media (max-width: 768px){
//     #why-this-is-awesom{
//         .container{
//         padding: 50px;
//             article{
//                 flex-direction: column;
//                     align-items: center;
//                 .block{
//                     max-width: 400px;
//                     margin-bottom: 50px;
//                     &:nth-of-type(2){
//                         // margin-bottom: 50px;
//                         margin: 0 0 50px 0;
//                     }
//                 }
//             }
//         }
//     }
// }

// @media (max-width: 425px){
//     #why-this-is-awesom{
//         .container{
//             article{
//                 flex-direction: column;
//                 align-items: center;
//                 // .block{
                        

//                 //     // &:nth-of-type(2){
//                 //     //     margin: 0;
//                 //     // }
//                 // }
//             }
//         }
            
//     }
// }